.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 210px;
    grid-gap: 50px;
    padding-bottom: 50px;
    // border: 1px solid green;
}

@media (max-width: 980px) {
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        justify-content: center;
        align-content: center;
       
    }
}

@media (max-width: 660px) {
    .wrapper{
        grid-template-columns: auto;
    }
}

