body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #F5F5F5 !important;
  background-color: #FBFCFF !important;
  // background: url('../public/bg2.png') no-repeat center center fixed;
  // backdrop-filter: blur(3px);
}