.root {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 95%;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

// Лупа
.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 20px;
  top: 11px;
}

// Крестик
.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 35px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}